<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opere</title>
    <link href="assets/css/opere_admin.css" rel="stylesheet">
</head>
<body>
    <main class="main">
        <form id="form-aggiungi-opera">
            <div id="choose-aggiungi" class="choose-panel">

                <h2>Aggiungi opera</h2>

                <label for="aggiungi-nome">Nome</label>
                <input id="aggiungi-nome" type="text" required minlength="2" maxlength="100">

                <label for="aggiungi-anno">Anno (Mettere negativo per opere nel A.C.)</label>
                <input id="aggiungi-anno" type="number" required>

                <label>Autori</label>
                <div id="aggiungi-autori-wrapper" class="autori-wrapper"></div>
                <button type="button" id="aggiungi-autore-btn">Aggiungi autore</button>

                <label for="aggiungi-img">Immagine</label>
                <input id="aggiungi-img" type="file" accept="image/*" required>

                <label for="aggiungi-descrizione">Descrizione</label>
                <textarea id="aggiungi-descrizione" rows="5" minlength="10" maxlength="300" required></textarea>

                <label for="aggiungi-stanza">Stanza</label>
                <select id="aggiungi-stanza" required>
                    <option value="">Seleziona una stanza</option>
                    <option value="ST01">Sala Impressionisti</option>
                    <option value="ST02">Sala Reperti Storici</option>
                    <option value="ST03">Sala Arte Contemporanea</option>
                </select>

                <label class="toggle-field" for="aggiungi-disattivato">
                    <span>Disattivata</span>
                    <input id="aggiungi-disattivato" type="checkbox">
                </label>

                <div class="choose-actions">
                    <a><button type="button" class="btn-annulla-choose">Annulla</button></a>
                    <button type="submit">Crea</button>
                </div>
            </div>
        </form>
    </main>
</body>
</html>