<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autori</title>
    <link href="/assets/css/opere_admin.css" rel="stylesheet">
</head>
<body>
    <main class="main">
        <div class="main-opere">
            <form th:method="get">
                <div class="filter">
                    <div class="add-search">
                        <div>
                            <label>Barra di ricerca</label>
                            <input type="text" name="src" th:value="${src}" placeholder="Cerca autore...">
                        </div>
                        <div>
                            <button id="search" type="submit">Applica filtri</button>
                            <a th:href="@{/autori/auth_add}"><button id="add" type="button">Aggiungi un autore</button></a>
                        </div>
                    </div>
                </div>
            </form>
            
            <div class="opere-wrapper">
                <th:block th:each="autore: ${autori}">
                    <div class="opera-card">
                        
                        <div class="info-gen" style="margin-top: 10px;">
                            <p><strong>ID:</strong> <span class="autore-id" th:text="${autore.id}"></span></p>
                            <h3 class="autore-nome-cognome" th:text="${autore.nome} + ' ' + ${autore.cognome}"></h3>
                            <p><strong>Data di Nascita:</strong> <span class="autore-nascita" th:text="${autore.dataNascita}"></span></p>
                            
                            
                            <p th:if="${autore.dataMorte != null}"><strong>Data di Morte:</strong> <span class="autore-morte" th:text="${autore.dataMorte}"></span></p>
                            <p th:unless="${autore.dataMorte != null}"></p>
                        </div>

                        <div class="operations">
                            <hr>
                            <a th:href="@{/autori/auth_update(a = ${autore.id})}"><button type="button" class="btn-modifica">Modifica</button></a>
                            <a th:href="@{/autori/auth_delete(a = ${autore.id})}"><button type="button" class="btn-cancella">Cancella</button></a>
                        </div>
                    </div>
                </th:block>
            </div>
            
        </div>
    </main>
</body>
</html>
