<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Opere</title>
    <link href="assets/css/opere_admin.css" rel="stylesheet">
    <script src="assets/js/opere_admin.js" defer></script>
</head>
<body>
    <main class="main">
        <div class="main-opere">
            <div id="choose-cancella" class="choose-panel">
                <h2>Cancella opera</h2>
                <p id="delete-message">Vuoi davvero cancellare questa opera?</p>

                <div class="choose-actions">
                    <button type="button" class="btn-annulla-choose">Annulla</button>
                    <button type="button">Conferma cancellazione</button>
                </div>
            </div>
        </div>
    </main>
</body>
</html>